/*Non e il meglio che potevo fare 
sono piuttosto stanco mentalmente
pero ci tenevo a consegnarti qualcosa per sta sera*/ 
/*sfondi*/
#immaginedisfondo{
    background-image: url(../images/bg-image.png);
    width: 100%;
    height: 100px;
}
 
  .row {
    background-color: white;
    width: 100%;
    text-align: center; }

.sfondoscuro {
    background-color: #222f3e;
  }
  .sfondogrigio {
    background-color: #364759;
  }
  .bg-green {
    background-color: #469576;
  }
  .arancione {
    background-color: #f56600;
  }
 .bianco{
    color: white;
 }
  .marginbottom {
    margin-bottom: 2rem;
  }
  .padding{
    padding: 0.5%;
  }
  header div {
    padding: 0.5rem 2rem;
  }
  header img {
    height: 40px;
  }
  header span {
    margin-right: 1rem;
    font-weight: 400;
  }

  .testocentrato {
    text-align: center;
  }
  w-100 {
    width: 100%;
  }


  /*Menu*/
  
#menu {
    padding-left: 10px;
}

#menu li {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    display: inline-block;
}

#menu a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    padding: 8px 0;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a:last-of-type {
    margin-right: 0;
}
/*Menu*/


  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  main {
    background-color: #eaeded;
    padding: 2rem;
  }

 
  .img {
    width: 304px;
    height: 379px;
    object-fit: cover;
    margin: 1rem;
    border-radius: 20px;
    -webkit-box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
  }
  .titolo1 {
    text-align: left;
    padding: 1rem 1rem 0 1.5rem;
  }
  .titolo2{
    font-size: 1.3rem;
  }
  .sottotitolo {
    font-weight: 600;
    color: #007185;
    margin-left: 1rem;
  }
  .card {
    background-color: white;
  }
  #immagine9{
   border-radius: 90%sss;
   
  }
  .immagine {
    text-align: center;
    margin-top: 2rem;
  }
  footer {
    width: 100%;
    text-align: center;
  }
  #tornasu {
    padding: 1rem;
  }
  #tornasu a {
    font-weight: 600;
  }
  #logo {
    padding: 4rem;
  }
  #logo img {
    height: 60px;
  }
